<!-- Орловська Maріанна -->
<section class="catalog">
    <h1 class="catalog-header">Best Seller <span>Books</span></h1>
    <div class="print-e-book-fiction main-block">
        <div class="gallery-and-genre-type">
            <p class="genre-type">COMBINED PRINT AND E-BOOK FICTION</p>
        </div>
        <button class="see-more">SEE MORE</button>
    </div>
    <div class="print-e-book-non-fiction main-block">
        <div class="gallery-and-genre-type">
            <p class="genre-type">COMBINED PRINT & E-BOOK NONFICTION</p>
        </div>
        <button class="see-more">SEE MORE</button>
    </div>
    <div class="hardcover-fiction main-block">
        <div class="gallery-and-genre-type">
            <p class="genre-type">HARDCOVER FICTION</p>
        </div>
        <button class="see-more">SEE MORE</button>

    </div>
    <div class="hardcover-non-fiction main-block">
        <div class="gallery-and-genre-type">
            <p class="genre-type">HARDCOVER NONFICTION</p>
        </div>
        <button class="see-more">SEE MORE</button>
    </div>
</section>
