<!-- Violeta -->
<header class="header">
  <a href="index.html" class="logo">
    <svg width="24px" height="24px">
      <use class="logo" href="./img/header.svg#icon-logo"></use>
    </svg>
    <svg width="77px" height="13.5px">
      <use class="logo-text" href="./img/header.svg#icon-bookshelf"></use>
    </svg>
  </a>
  <nav class="nav-header">
    <a href="./index.html">Home</a>
    <a href="./page-2.html"
      >Shopping List
      <svg width="28px" height="28px">
        <use class="logo-shopping" href="./img/header.svg#icon-shop"></use>
      </svg>
    </a>
  </nav>
  <div></div>
  <div></div>
</header>
