<!-- Violeta -->
<header class="header">
  <div class="header-wrapper-nav">
    <a href="index.html" class="logo">
      <svg width="24px" height="24px">
        <use class="logo-svg" href="./img/header.svg#icon-logo"></use>
      </svg>
      <svg width="77px" height="13.5px">
        <use class="logo-text" href="./img/header.svg#icon-bookshelf"></use>
      </svg>
    </a>
    <nav class="nav-header">
      <a class="nav-item active-hp" href="./index.html">Home</a>
      <a class="nav-item active-sl" href="./shopping-list-page.html">Shopping List
        <svg width="20px" height="20px">
          <use class="logo-shop" href="./img/header.svg#icon-shop"></use>
        </svg>
      </a>
    </nav>
  </div>
  <div class="header-wrapper">
    <div class="header-switcher">
      <input class="switcher-checkbox" type="checkbox" id="switcher" />
      <label class="switcher" for="switcher"></label>
      <div class="switcher-bckgrnd"></div>
    </div>
    <div class="user-header">
      <div class="user-foto"></div>
      User
      <svg width="23px" height="26px">
        <use class="caret-down" href="./img/header.svg#icon-caret-down"></use>
      </svg>
      <div class="sign-up-header hidden-sign-up">
        Sign up
        <svg width="20px" height="20px">
          <use class="arrow-right" href="./img/header.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>

    <div class="menu-header">
      <!-- ! Реалізація мобільного меню "бургер" через svg -->
      <!-- <svg width="28px" height="28px">
        <use class="svg-menu" href="./img/header.svg#icon-menu"></use>
      </svg> -->

      <!-- ! Реалізація мобільного меню "бургер" через псевдоелементи з анімацією переходу в хрестик "закрити" -->
      <div class="mobile-menu__open-icon">
        <div class="mobile-menu__span-up">
          <span></span>
        </div>
        <div class="mobile-menu__span-down">
          <span></span>
        </div>
      </div>

    </div>
  </div>
</header>