<div class="modal-avtr">

  <div class="modal-avtr__container">

    <svg class="modal-avtr__form-icon-close" width="28" height="28">
      <use href="./img/icons-modal-avtr.svg#icon-modal-avtr-btn-close"></use>
    </svg>

    <form action="#" class="modal-avtr__form" name="contact_form" autocomplete="on">
      <div class="modal-avtr__form-group" role="group">

        <div class="modal-avtr__form-wrapper">
          <input class="modal-avtr__form-field" type="text" name="user_name" id="user_name" placeholder="Name" required>
        </div>

        <div class="modal-avtr__form-wrapper">

          <input class="modal-avtr__form-field" type="email" name="user_email" placeholder="Email" required
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
          <svg class="modal-avtr__form-icon" width="28" height="28">
            <use href="./img/icons-modal-avtr.svg#icon-modal-avtr-email"></use>
          </svg>
        </div>

        <div class="modal-avtr__form-wrapper">

          <input class="modal-avtr__form-field" type="password" name="user_password" placeholder="Password" required
            maxlength="50" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
          <svg class="modal-avtr__form-icon" width="28" height="28">
            <use href="./img/icons-modal-avtr.svg#icon-modal-avtr-lock"></use>
          </svg>
        </div>
      </div>

      <button class="modal-avtr__form-btn" type="submit">Sign up</button>

      <div class="modal-avtr__form-registry">
        <a class="modal-avtr__form-link modal-avtr__form-link-active" href="#">Sign up</a>
        <a class="modal-avtr__form-link" href="#">Sign in</a>
      </div>
    </form>

  </div>
</div>