<section class="shopping-list-section">
  <div class="shopping-list-container">
    <h1 class="shopping-list-title">
      Shopping <span class="shopping-list-title-blue">List</span>
    </h1>
    <div class="empty-shopping-list display-none">
      <p>This page is empty, add some books<br />and proceed to order.</p>
      <picture class="empty-shopping-list-img" width="265" height="198">
        <source
          srcset="
            ./img/shopping-list/empty-shopping-list-desktop.png,
            ./img/shopping-list/empty-shopping-list-desktop@2x.png
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/shopping-list/empty-shopping-list-desktop.png,
            ./img/shopping-list/empty-shopping-list-desktop@2x.png
          "
          media="(max-width: 767px)"
        />
        <img
          src="./img/shopping-list/empty-shopping-list-desktop.png, ./img/shopping-list/empty-shopping-list-desktop@2x.png"
          alt="empty shopping list"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
=======
<!-- Rostyslav -->
<section>Shopping-List</section>
