<section class="shopping-list-section">
  <div class="shopping-list-container">
    <h1 class="shopping-list-title">
      Shopping <span class="shopping-list-title-blue">List</span>
    </h1>
    <div class="shopping-list-cards"></div>
    <div id="tui-pagination-container" class="tui-pagination"></div>
    <div class="empty-shopping-list display-none">
      <p class="empty-shopping-list-text">
        This page is empty, add some books<br />and proceed to order.
      </p>
      <picture class="empty-shopping-list-img" width="265" height="198">
        <source
          srcset="
            img/shopping-list/empty-shopping-list-desktop.png    1x,
            img/shopping-list/empty-shopping-list-desktop@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            img/shopping-list/empty-shopping-list-mobile.png    1x,
            img/shopping-list/empty-shopping-list-mobile@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="img/shopping-list/empty-shopping-list-desktop.png"
          alt="empty shopping list"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
