<!-- Olga -->

<div class="support-block">
  <div class="support-header-wrapper">
    <h2 class="support-header">Support Ukraine</h2>
    <svg width="20" height="32">
      <use href="/img/support/trident.svg#icon-trident"></use>
    </svg>
  </div>

  <div class="support-funds-visible">
    <ul class="support-funds-list"></ul>
  </div>

  <!-- button down -->
  <div class="support-btn-wrapper">
    <button id="btn-down" class="support-slider-btn" type="button">
      <svg class="support-icon" width="12" height="6">
        <use href="/img/support/slider.svg#icon-slider"></use>
      </svg>
    </button>
  </div>

  <!-- button up -->
  <div class="support-btn-wrapper">
    <button id="btn-up" class="support-slider-btn invisible" type="button">
      <svg
        class="support-icon support-slider-svg-up"
        width="11.67"
        height="5.98"
      >
        <use href="/img/support/slider.svg#icon-slider"></use>
      </svg>
    </button>
  </div>
</div>
