.categories {
  width: 356px;
  height: 472px;
  overflow: auto;
}

.category_list {
    padding: 0px;
    cursor: pointer;
    color: rgba(17, 17, 17, 0.6);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    padding: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center left;
}


.category_list:not(:last-child){
  margin-bottom: 32px;
}


.category_list:focus,
.category_list:hover,
.category_list:active{
  font-weight: 700;
    text-transform: uppercase;
    color: #4f2ee8;
}

.category_title{
  cursor: pointer;
    color: rgba(17, 17, 17, 0.6);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    padding: 0;
    margin-bottom: 32px;
}


.category_title:active,
.category_title:focus,
.category_title:hover{
  font-weight: 700;
    text-transform: uppercase;
    color: #4f2ee8;
} 

@media screen and (max-width: 767.8px) {
  .category_list{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
  }


  .category_list:hover,
  .category_list:active,
  .category_list:focus{
    font-weight: 700;
    text-transform: uppercase;
    color: #4f2ee8;
  }

    .categories {
      width: 335px;
      height: 228px;
      
    }
}

@media screen and (min-width: 768px){
  .categories {
      width: 337px;
      height: 472px;
    }
}

