body {
  font-size: medium;
}
.categories{
  width: 328px;
  height: 472px;
  overflow: auto;
}

.category__list{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}
.category__list--button {
  cursor: pointer;
  width: auto;
  background-color: initial;
  color: initial;
  text-align: initial;
  color: rgba(17, 17, 17, 0.6);
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.category__list--button:hover{
font-weight: 700;
text-transform: uppercase;
color: #4F2EE8;
}

@media screen and (max-width:767.8px) {
  .category__list--button {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    
  }

  .category__list--button:hover{
    font-weight: 700;
    text-transform: uppercase;
    color: #4F2EE8;
  }
}