body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  background: #d0d0d0;
}
.container {
  width: 335px;
  padding: 40px 0 80px;
  margin: 0 auto;
}
.sidebar-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 35px;
}
.sidebar-sl {
  display: none;
}
@media screen and (min-width: 768px) {
  .container {
    width: 776px;
    padding: 40px 0 100px;
  }
  .sidebar-home {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    /* width: 100%; */
    min-width: 1440px;
    display: flex;
    gap: 40px;
    padding: 40px 24px 72px;
    margin: 0 auto;
  }
  .sidebar-home {
    width: 356px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 86px;
  }
  .sidebar-sl {
    display: flex;
  }
}
