.header {
  width: 100%;
  height: 64px;
  background: #ffffff;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header-wrapper {
  display: flex;
  gap: 14px;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.svg-menu {
  stroke: black;
  cursor: pointer;
}
.switcher-checkbox {
  display: none;
}
.header-switcher {
  position: relative;
}
.switcher-bckgrnd {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.switcher {
  border-radius: 50%;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 18px;
  height: 18px;
  translate: 0 -50%;
  left: 1.5px;
  top: 50%;
  cursor: pointer;
  transition: transform 300ms ease;
}
.switcher-checkbox:checked + .switcher {
  transform: translateX(110%);
}
.switcher-checkbox:checked ~ .switcher-bckgrnd {
  background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
}
.nav-header {
  display: none;
}
.user-header {
  display: none;
}
@media screen and (min-width: 768px) {
  .header {
    height: 72px;
    padding: 14px 32px 13px;
    gap: 87px;
  }
  .header-wrapper-nav {
    display: flex;
    gap: 24px;
  }
  .nav-header {
    display: flex;
    gap: 4px;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #111111;
  }

  .nav-item {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 36px;
    cursor: pointer;
  }
  .header-wrapper {
    gap: 24px;
  }
  .user-header {
    display: flex;
    width: 184px;
    height: 45px;
    background-color: #4f2ee8;
    border-radius: 36px;
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    cursor: pointer;
  }
  .user-foto {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: grey;
  }
  .caret-down {
    fill: #ffffff;
  }
  .menu-header {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    height: 72px;
    padding: 14px 24px 13px;
  }
  .header-wrapper-nav {
    gap: 76px;
  }
}
