/* Maksym */

/* --------- кнопка бургер-меню "відкрити" ----------- */

@media screen and (max-width: 767px) {
  .mobile-menu__open-icon {
    display: block;
    z-index: 11;
    position: relative;
    width: 21px;
    height: 20px;
    cursor: pointer;
  }

  .mobile-menu__span-up span,
  .mobile-menu__span-down span,
  .mobile-menu__open-icon::before,
  .mobile-menu__open-icon::after {
    left: 0;
    position: absolute;
    height: 2px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #111111;
  }

  .mobile-menu__span-up span {
    margin-top: 3px;
    width: 100%;
  }

  .mobile-menu__span-down span {
    margin-bottom: 1px;
    width: 16px;
  }

  .mobile-menu__open-icon::before,
  .mobile-menu__open-icon::after {
    content: '';
  }

  .mobile-menu__open-icon::before {
    top: 0;
    width: 100%;
  }

  .mobile-menu__open-icon::after {
    bottom: 0;
    width: 16px;
  }

  .mobile-menu__span-up span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .mobile-menu__span-down span {
    bottom: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .mobile-menu__open-icon:hover .mobile-menu__span-up span,
  .mobile-menu__open-icon:hover .mobile-menu__span-down span {
    background-color: #4f2ee8;
  }

  .mobile-menu__open-icon:hover.mobile-menu__open-icon::before,
  .mobile-menu__open-icon:hover.mobile-menu__open-icon::after {
    background-color: #4f2ee8;
  }
  .mobile-menu__open-icon._active-icon .mobile-menu__span-up span,
  .mobile-menu__open-icon._active-icon .mobile-menu__span-down span {
    transform: scale(0) translate(0px, -50%);
    margin: 0;
  }

  .mobile-menu__open-icon._active-icon::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    width: 20px;
  }
  .mobile-menu__open-icon._active-icon::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    width: 20px;
  }

  .mobile-menu__open-icon._active-icon {
    width: 21px;
    height: 21px;
  }
}
