/* Maksym */

.mobile-menu-container__in,
.mobile-menu-container__out {
  display: none;
}

@media screen and (max-width: 767px) {
  /* JS прокрутка body*/
  body._lock {
    overflow: hidden;
  }
  /* JS */

  /* --------- Користувач залогінений ----------- */

  .mobile-menu-container__in,
  .mobile-menu-container__out {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 375px;
    width: 100vw;
    height: 100%;

    transform: translatex(100%);
    /* transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1); */

    z-index: 5;

    overflow-y: scroll;
  }

  .mobile-menu-container__in._active-menu,
  .mobile-menu-container__out._active-menu {
    display: block;
    transform: translatex(0%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-container__account-in,
  .mobile-menu-container__account-out {
    z-index: 5;

    position: relative;
    overflow: hidden;
    height: 100%;
    background: radial-gradient(
      189.32% 190.93% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #fff 100%
    );
  }

  /* ---- Фото та Ім'я користувача ---- */
  .account-in,
  .account-out {
    max-width: 480px;
    min-height: calc(100vh - 54px);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    margin-top: 54px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 50px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    z-index: 7;
  }
  .account-in__user {
    display: flex;
    align-items: center;
    gap: 9px;
  }
  /* .account-in__user-img {
  } */
  .account-in__user-name {
    font-weight: 700;
    font-size: 22px;
    line-height: calc(29 / 22);

    letter-spacing: -0.02em;

    color: #ffffff;
  }
  /* ---- Фото та Ім'я користувача ---- */

  /* ---- Навігація ---- */
  .mobile-menu__nav-header-container {
    display: flex;
    justify-content: center;

    margin-top: 126px;
    margin-left: auto;
    margin-right: auto;

    z-index: 7;
  }
  .account-in__nav-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: #ffffff;
  }
  .account-in__nav-item {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 36px;
    cursor: pointer;
    transition: all 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .account-in__logo-shop {
    fill: currentColor;
    stroke: none;
  }

  /* ---- Навігація ---- */

  /* ---- Кнопка "log out" ---- */
  .mobile-menu-container__in .account-btn__log-out {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    width: 118px;
    padding: 14px 24px;
    margin-top: 150px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.04em;

    color: #111111;

    background: #ffffff;
    border: 1.5px solid #111111;
    border-radius: 18px;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    z-index: 7;
  }
  .account-btn__log-out-icon {
    width: 13.33px;
    stroke: #eac645;
    fill: transparent;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-container__in .account-btn__log-out:hover {
    scale: 104%;
    background: #eac645;
    color: black;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .account-btn__log-out:hover .account-btn__log-out-icon {
    stroke: black;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* ---- Кнопка "log out" ---- */

  /* ---- Картинка на бекграунді ---- */
  .account-bcg__img-container {
    position: absolute;
    top: 65%;
    width: calc(100vw + 75px);
    height: calc(100vw + 64px);
    left: -15px;
    margin: 0 auto;
    transform: rotate(-15deg);
    padding: 0;
    z-index: 6;
  }
  .account-bcg__img {
    width: 100%;
    z-index: 6;
  }
  /* ---- Картинка на бекграунді ---- */
  /* --------- Користувач залогінений ----------- */

  /* 
    ------------------------------- 
    -- Користувач НЕ залогінений --
    -------------------------------
    */

  /* ---- Кнопка "signup" ---- */
  .mobile-menu-container__account-out .account-btn__sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;

    width: 184px;
    padding: 15px 14px;
    margin-top: 50px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(18 / 14);
    letter-spacing: -0.56px;

    color: #ffffff;

    border-radius: 18px;
    border: 1.5px solid #111;
    background: #4f2ee8;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    z-index: 7;
  }
  .account-btn__sign-up-icon {
    width: 16px;
    stroke: #eac645;
    fill: transparent;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-container__out .account-btn__sign-up:hover {
    scale: 104%;
    background: #eac645;
    color: black;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .account-btn__log-out:hover .account-btn__sign-up-icon {
    stroke: black;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* ---- Кнопка "signup" ---- */
}
