.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #4f2ee8;
  z-index: 5;
}

.modal {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 335px;
  height: 384px;
  background: #f6f6f6;
  border: 2px solid #111111;
  border-radius: 18px;
  color: #fff;
  padding: 40px 20px;
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.form-input input,
.form-input button {
  width: 100%;
  height: 50px;
  border: 2px solid #111111;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.modal label {
  position: relative;
  width: 100%;
}
.modal .icon-close {
  position: absolute;
  z-index: 6;
  top: 10px;
  right: 10px;
}
.form-input input {
  padding: 16px 24px;
  background-color: transparent;
}
.modal svg {
  position: absolute;
}
