/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./general.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./catalog.css');
@import url('./categories.css');
@import url('./shopping-list.css');
@import url('./support.css');
@import url('./pop-up.css');
@import url('./mobile-menu.css');
/* @import url('./modal.css'); */
@import url('./scroll-up.css');
@import url('./black-theme.css');
@import url('./loader.css');
/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
