/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./general.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./mobile-menu-icon.css');
@import url('./catalog.css');
@import url('./categories.css');
@import url('./shopping-list.css');
@import url('./support.css');
@import url('./pop-up.css');
@import url('./mobile-menu.css');
/* @import url('./modal.css'); */
@import url('./scroll-up.css');
@import url('./black-theme.css');
@import url('./loader.css');
